.App {
  /* text-align: center; */
  max-width: 750px;
  margin: auto;
}
.form {
  margin: auto;
  padding: 20px;  
}
.shenfen {
  margin-top: 30px;
}
.wenti {
  margin-top: 30px;
}
.submit {
  margin-top: 30px;
}

.complete {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
